@{
	ViewData["Title"] = "Giỏ Hàng";
}

@section Styles {
	<link href="~/css/cart.css" rel="stylesheet">
	<link rel="stylesheet" href="~/admin/js/plugins/sweetalert2/sweetalert2.css">
}

@section Scripts {
	<script src="~/admin/js/plugins/sweetalert2/sweetalert2.min.js"></script>
	<script src="~/js/cart.js"></script>
}

<main class="bg_gray">
	<div class="container margin_30">
		<div class="page_header">
			<div class="breadcrumbs">
				<ul>
					<li><a href="#">Trang chủ</a></li>
					<li><a href="#">Loại</a></li>
					<li>Trang Hiện Tại</li>
				</ul>
			</div>
            <h1>Trang giỏ hàng<h1>
</div>
		<!-- /page_header -->
		<table class="table table-striped cart-list">
			<thead>
				<tr>
					<th>
						Sản Phẩm
					</th>
                    <th>
                        Kích Thước / Màu
                    </th>
					<th>
						Giá
					</th>
					<th>
						Số Lượng
					</th>
					<th class="text-center">
						Tạm Tính
					</th>
					<th>

					</th>
				</tr>
			</thead>
			<tbody id="tbl-cart">
				
			</tbody>
		</table>
	</div>

	<div class="box_cart">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-xl-4 col-lg-4 col-md-6">
					<ul>
						<li>
							<span>Tổng</span><span id="total-cart-price-tbl">Đ</span>
						</li>
					</ul>
					<a href="~/checkout" class="btn_1 full-width cart">Tiến Hành Thanh Toán</a>
				</div>
			</div>
		</div>
	</div>
	<!-- /box_cart -->

</main>
<!--/main-->

